/* TBD auto-resize images from first project */

/* Base styles */
html {
    font-family: Raleway;
    color: #fafafa;
}

body {
    background-color:#3a3f44;
    background: #3a3f44;
    background: linear-gradient(to bottom right, black, #3a3f44);
    border: 2px solid white;
}

header {
    border: 2px solid blue;
    z-index: 1;
    transition: top 0.7s;
}

.sticky {
    background-image: url('../img/stars3.png');
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky a {
    display: block;
}

/* Typeography styles */
h1 {
    text-align: center;
    text-shadow: 3px 3px 5px silver;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-weight: normal;
    margin: 0;
    font-size: 3em;
}

p {
    margin: 10px;
    color: beige;
    font-family: 'Palanquin Dark';

}

a, a:visited, a:active {
    color: inherit;
}

/* Layout styles */

main {
    margin: 9em 0em 0em;
}

.NavbarMenu ul {
    text-align: center;
    padding-inline-start: 0px;
}

.NavbarMenu li {
    display: inline-block;
    padding: 1em;
    /* border: 2px solid purple; */
}

.NavbarMenu .MenuLink {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.NavbarMenu .MenuLink:hover {
    /* TBD transition colors on hover */
    background: darkslategrey;
    color: grey;
    transition: ease 0.5s;
}

.activeNav {
    background-color: gold;
}

section {
    /* TBD remove borders */
    border: 2px solid orange;
    position: relative;
    min-height: 80vh;
}

.mainHero {
    background-image: url('../img/dragon.jpg');
    background-size: cover;
}

.mainHeroListContainer {
    display: grid;
    grid-template-rows: 130px;
    width: 450px;
    margin: auto;
    /* padding-inline-start: 0px; */
    /* grid-template-columns: 450px; */
    /* border: 2px solid skyblue; */
    /* justify-content: center; */
}

.mainHeroList {
    background-color: black;
    border: 1px solid skyblue;
    border-radius: 5px;
    opacity: 0.8;
    color: yellow;
    font-weight: bolder;
    font-size: 16px;
}

.mainHeroList ul{
    padding: 0;
}

.section2 li {
    padding: 0.5em;
}

/* TBD Media query here for small viewport! */
.section2ImgContainer {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(2, 300px);
    border: 2px solid green;
    justify-content: space-evenly;
}

#section2Img1 {
    background-image: url('../img/dnsunset3.jpg');
    background-size: cover;
}

#section2Img2 {
    background-image: url('../img/seafood.jpg');
    background-size: cover;
}

.reviewContainer {
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: 100px 500px;
    border: 2px solid brown;
    justify-content: center;
}

/* TBD should use FR units here (share the available remaining space) */
/* TBD review section needs media queries */

.avatar {
    display: flex;
    /* width: 100px; */
    /* height: 100px; */
    align-items: center;
    /* margin: auto; */
    /* grid-gap: 10px; */
    /* border: 2px solid salmon; */
    /* padding: 15px; */
}

.reviewText {
    display: flex;
    /* width: 400px; */
    /* height: 100px; */
    /* align-items: center; */
    /* margin: auto; */
    /* grid-gap: 10px; */
    /* border: 2px solid greenyellow; */
    padding: 15px;
}

.reviewText q {
    text-align: left;
    font-family: Verdana;
    color: lightskyblue;
    font-style: italic;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px 0px;
}

.active {
    background-color: deeppink;
}

.active h2 {
    text-decoration: underline;
}

footer {
    border: 2px solid red;
    background-color: #3a3f44;
    margin: 1em;
    padding: 3em;
}

footer p {
    font-size: 2em;
    text-shadow: 2px 2px black;
}

.topButtonHide {
    display: none;
}

.topButton {
    position: fixed;
    display: block;
    bottom: 20px;
    right: 30px;
    z-index: 5;
    border: none;
    outline: none;
    background-color: silver;
    color: black; 
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
  
  #topButton:hover {
    background-color: #555;
}

.LandingContainer {
    padding: 1em;
    text-align: center;
    list-style-position: inside;
}






/* Form styles */
input[type=text], select, textarea {
    width: 100%;
    padding: 1em;
    border: 2px solid silver;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1em; 
    /* resize: vertical; */
  }
  
  input[type=submit] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: navy;
  }
  
  .formContainer {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
  }